@import url('https://fonts.googleapis.com/css2?family=Battambang&family=Bokor&family=Poppins&display=swap');

:root {
  --white: #fff;
  --white-1: #eee;
  --white-2: #c4c4c4;
  --black: #161616;
  --red: #F2272F;
  --bg-nav: #FA1939;
  --green: #38C378;
  --orange: #f9a62b;
  --blue: #4390F8;
  --pink: #FA5480;
  --box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s linear;
}

body {
  font-family: "Battambang", system-ui;
  background-color: #eee;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.heading{
  display: inline-block;
  font-size: 20px;
  color: var(--white);
  margin-top: 16px;
  padding: 8px 56px 8px 16px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.bg-red{
  background-color: var(--red);
}

.bg-pink{
  background-color: var(--pink);
}

.bg-blue{
  background-color: var(--blue);
}

.bg-green{
  background-color: var(--green);
}

.bg-orange{
  background-color: var(--orange);
}

.border-video{
  border-top: 2px solid var(--red);
}

.border-enter{
  border-top: 2px solid var(--pink);
}

.border-tech{
  border-top: 2px solid var(--blue);
}

.border-life{
  border-top: 2px solid var(--green);
}

.border-sport{
  border-top: 2px solid var(--orange);
}

.header{
  background-color: var(--black);
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.logo{
  width: 80px;
  height: 80px;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.adz-top{
  height: 80px;
}
.adz-top img{
  height: 100%;
}
.nav{
  background-color: var(--bg-nav);
  position: sticky;
  top: 0;
  z-index: 9;
  
  
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 0;
}
.menu{
  list-style: none;
  display: flex;
  gap: 24px;
}
.menu li a{
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  font-family: "Bokor", system-ui;
}
.menu li:nth-child(6) a,
.menu li:nth-child(7) a{
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.menu li a::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  transition: transform .25s linear;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--white);
}
.menu li a.active::before{
  position: absolute;
  content: "";
  width: 40%;
  height: 4px;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white);
}
.menu li a:hover:not(.active)::before{
  transform: scaleX(1);
  transform-origin: left;
}

#menu-btn{
  display: none;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
}
.logo-nav{
  display: none;
  width: 32px;
  height: 32px;
}
.logo-nav img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.deals{
  display: none;
  height: 32px;
}
.deals img{
  height: 100%;
}

@media (max-width: 992px){
  .logo{
    width: 64px;
    height: 64px;
  }
  .adz-top{
    height: 64px;
  }
}

@media (max-width: 768px){
  .header{
    display: none;
  }
  .nav{
    background-color: var(--black);
  }
  .nav-container{
    padding: 12px 16px;
  }
  #menu-btn,
  .logo-nav,
  .deals{
    display: block;
  }
  .menu{
    position: absolute;
    flex-direction: column;
    gap: 16px;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-nav);
    padding: 8px 16px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* transition: clip-path .3s ease-in-out; */
  }
  .menu li a{
    display: inline-block;
    font-size: 16px;
  }
  .menu.show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* swiper */

.banner-preview{
  margin-top: 8px;
}
.mySlide{
  display: none;
}

.swiper {
  width: 100%;
  height: 320px;
}

.swiper-slide {
  position: relative;
}
.swiper-slide::before,
.news-left .item::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0,.1),
    rgba(0,0,0,.3),
    rgba(0,0,0,1)
  );
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.labels{
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 14px;
  font-family: "Bokor";
  /* line-height: 20px; */
  color: var(--white);
  padding: 4px 24px 4px 4px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}
.content{
  position: absolute;
  left: 0;
  bottom: 8px;
  color: var(--white);
  padding: 12px 16px;
}
.content h2{
  font-size: 16px;
  line-height: 28px;
}
.content span{
  font-size: 12px;
}

.banner-container{
  display: flex;
  column-gap: 4px;
}
.news-left{
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4px;
}

.item{
  height: 250px;
  background-color: red;
  position: relative;
}
.item:hover h2{
  color: var(--red);
}
.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adz-bottom{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 25%;
  height: 100%;
}
.adz-bottom > img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 992px){
  .news-left{
    width: 100%;
  }
  .adz-bottom{
    display: none;
  }
}

@media (max-width: 768px){
  .banner-preview{
    margin-top: 0;
  }
  .mySlide{
    display: block;
  }
  .banner-container{
    display: none;
  }
}

@media (max-width: 480px){
  .swiper {
    width: inherit;
    height: 240px;
  }
  .content h2{
    font-size: 14px;
  }
}

.video_box:nth-child(1){
  grid-column: 1/3;
}
.video_box:nth-child(2){
  grid-column: 3/5;
}
.video_box:nth-child(3){
  grid-column: 5/7;
}
.video_box:nth-child(1) img,
.video_box:nth-child(2) img,
.video_box:nth-child(3) img{
  height: 192px;
}
.video_box:nth-child(1) p,
.video_box:nth-child(2) p,
.video_box:nth-child(3) p{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

@media (max-width: 992px){
  .video_box:nth-child(1),
  .video_box:nth-child(2),
  .video_box:nth-child(3){
    grid-column: auto;
  }
  
  .video_box:nth-child(1) img,
  .video_box:nth-child(2) img,
  .video_box:nth-child(3) img{
    height: 128px;
  }
  
  .video_box:nth-child(1) p,
  .video_box:nth-child(2) p,
  .video_box:nth-child(3) p{
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
  }
}

@media (max-width: 480px){
  .video_box:nth-child(1) img,
  .video_box:nth-child(2) img,
  .video_box:nth-child(3) img{
    height: 112px;
  }
  .video_box:last-child{
    display: none;
  }
}

.enter_box:first-child,
.tech_box:first-child,
.life_box:first-child,
.sport_box:first-child{
  grid-column: 1/3;
  grid-row: 1/3;
}
.enter_box:first-child img,
.tech_box:first-child img,
.life_box:first-child img,
.sport_box:first-child img{
  height: 192px !important;
}
.enter_box:first-child p,
.tech_box:first-child p,
.life_box:first-child p,
.sport_box:first-child p{
  height: 192px;
  padding: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--pink);
}

.enter_box:first-child p{
  background-color: var(--pink);
}

.tech_box:first-child p{
  background-color: var(--blue);
}

.life_box:first-child p{
  background-color: var(--green);
}

.sport_box:first-child p{
  background-color: var(--orange);
}

@media (max-width: 992px){
  .enter_box:first-child,
  .tech_box:first-child,
  .life_box:first-child,
  .sport_box:first-child{
    grid-column: auto;
    grid-row: auto;
  }
  .enter_box:first-child img,
  .tech_box:first-child img,
  .life_box:first-child img,
  .sport_box:first-child img{
    height: 128px !important;
  }
  .enter_box:first-child p,
  .tech_box:first-child p,
  .life_box:first-child p,
  .sport_box:first-child p{
    height: auto;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: var(--black);
    background-color: transparent;
  }
}

@media (max-width: 480px){
  .enter_box:first-child img,
  .tech_box:first-child img,
  .life_box:first-child img,
  .sport_box:first-child img{
    height: 112px !important;
  }
  .video_box:last-child,
  .enter_box:last-child,
  .tech_box:last-child,
  .life_box:last-child,
  .sport_box:last-child{
    display: none;
  }
}

.grid-6{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 8px;
  padding: 18px 24px;
  box-shadow: var(--box-shadow);
}

.box{
  display: block;
  text-decoration: none;
}

.box:hover img{
  transform: scale(.97);
}

.box img{
  width: 100%;
  height: 112px;
  object-fit: cover;
}

.box p{
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 992px){
  .grid-6{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .box img{
    height: 128px;
  }
}

@media (max-width: 768px){
  .heading{
    font-size: 18px;
    padding: 4px 28px 4px 8px;
  }
  .container{
    padding: 0;
  }
  .grid-6{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 8px;
  }
}

@media (max-width: 480px){
  .heading{
    font-size: 16px;
  }
  .grid-6{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .box img{
    height: 112px;
  }
  .box p{
    font-size: 14px;
    line-height: 20px;
  }
  .box:nth-child(7),
  .box:nth-child(8),
  .box:nth-child(9){
    display: none !important;
  }
}

.footer{
  margin-top: 44px;
  background-color: var(--black);
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
  padding: 32px 0;
  color: var(--white);
}

.grid-3 div > img{
  height: 40px;
  margin-bottom: 8px;
}

.grid-3 div > p{
  font-size: 14px;
  line-height: 28px;
}
.grid-3 div > h2{
  font-size: 18px;
}
.grid-3 div > h3{
  font-size: 16px;
}
.grid-3 div > h4{
  font-size: 14px;
}

.logo-container{
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 8px;
}
.logo-container a > img{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.icon-container{
  display: flex;
  column-gap: 8px;
  margin: 8px 0;
}
.icon-container a{
  font-size: 18px;
  color: var(--white);
}

@media (max-width: 768px){
  .footer{
    margin-top: 16px;
  }
  .grid-3{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    text-align: center;
    padding: 16px;
  }
  .icon-container{
    justify-content: center;
  }
  .grid-3 .about-us{
    display: none;
  }
  .grid-3 div > h2{
    font-size: 16px;
  }
  .grid-3 div > h3{
    font-size: 14px;
  }
}

