@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&display=swap");

:root {
  --black: #111;
  --red: #fa1939;
  --light: #ddd;
  --white: #fff;
  --yellow: #ffff00;
  --bg-light: #eee;
  --video-color: #f2262d;
  --enter-color: #fa5480;
  --tech-color: #38c378;
  --social-color: #f9a62b;
  --sport-color: #4390f8;
  --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  --text-shadow: 0 0 0.5rem #333;
}

* {
  font-family: "battambang", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  background-color: #eee;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

/*
----------------------------------------------
    HEADER SECTION
----------------------------------------------
*/

header {
  background-color: #161616;
  padding: 1.5rem 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}
.adz-top {
  height: 9rem;
  object-fit: cover;
}

/*
----------------------------------------------
    NAVBAR SECTION
----------------------------------------------
*/

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--red);
  z-index: 99;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: relative;
}

.navbar-wrap .nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
  padding: 1.5rem;
}

.navbar-wrap .nav a:hover:not(.active),
.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#menu_btn {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}

.logo-sm {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  display: none;
}
.deals {
  height: 3rem;
  object-fit: cover;
  display: none;
}

.animation{
    animation: animation 1s;
}

@keyframes animation {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

/*
----------------------------------------------
    HERO SECTION
----------------------------------------------
*/

.hero {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.hero .hero-slide {
  flex: 75%;
}

.hero .adz-bottom {
  flex: 25%;
}

.hero .hero-slide .slide {
  width: 100%;
  height: 41rem;
  overflow: hidden;
  position: relative;
}

.slide-sticky {
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white);
  padding: 0.7rem 4rem 0.7rem 1.5rem;
  clip-path: polygon(0 0, 77% 1%, 100% 100%, 0% 100%);
}

.hero .hero-slide .slide .content {
  position: absolute;
  left: 0;
  bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 1rem 3rem;
  z-index: 9;
}

.hero .hero-slide .slide .content .slide-title {
  font-size: 1.9rem;
  color: var(--white);
  padding-bottom: 0.7rem;
  text-shadow: var(--text-shadow);
}

.hero .hero-slide .slide .content .slide-desc {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
  padding-bottom: 0.7rem;
  text-shadow: var(--text-shadow);
}

.hero .hero-slide .slide:hover .content .slide-desc {
  display: block;
}

.hero .hero-slide .slide::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero .hero-slide .slide .content span {
  font-size: 1.3rem;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.hero .hero-slide .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .adz-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero .adz-bottom .img-box {
  width: 100%;
  height: 20rem;
  background-color: #ddd;
}

.hero .adz-bottom .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
----------------------------------------------
    LATEST SECTION
----------------------------------------------
*/

.latest-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.latest-container .box {
  height: 18rem;
  overflow: hidden;
}

.latest-container .box:nth-child(1) {
  grid-column: 1/3;
}

.latest-container .box:nth-child(2) {
  grid-column: 3/5;
}

.latest-container .box:nth-child(3) {
  grid-column: 5/7;
}

.latest-container .box:nth-child(1),
.latest-container .box:nth-child(2),
.latest-container .box:nth-child(3) {
  height: 27rem !important;
}

.latest-container .box:nth-child(1) img,
.latest-container .box:nth-child(2) img,
.latest-container .box:nth-child(3) img {
  height: 20rem !important;
}

.latest-container .box:nth-child(1) p,
.latest-container .box:nth-child(2) p,
.latest-container .box:nth-child(3) p {
  font-weight: bold;
  font-size: 1.8rem;
}

.latest-container .box:hover img {
  transform: scale(0.9);
}

.latest-container .box img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

/*
----------------------------------------------
    COLLECTION ITEMS
----------------------------------------------
*/

.heading {
  display: inline-block;
  font-size: 2rem;
  color: var(--white);
  margin-top: 2rem;
  padding: 0.7rem 4rem 0.7rem 1.5rem;
  clip-path: polygon(0 0, 77% 1%, 100% 100%, 0% 100%);
}

.bg-latest-news {
  background-color: #f2272f;
}

.border-latest-news {
  border-top: 0.3rem solid var(--video-color);
}

.bg-ent {
  background-color: var(--enter-color);
}

.box-container .box:first-child .ent-text {
  background-color: var(--enter-color);
}

.border-ent {
  border-top: 0.3rem solid var(--enter-color);
}

.bg-tech {
  background-color: var(--tech-color);
}

.box-container .box:first-child .tech-text {
  background-color: var(--tech-color);
}

.border-tech {
  border-top: 0.3rem solid var(--tech-color);
}

.bg-life {
  background-color: var(--social-color);
}

.box-container .box:first-child .life-text {
  background-color: var(--social-color);
}

.border-life {
  border-top: 0.3rem solid var(--social-color);
}

.bg-sport {
  background-color: var(--sport-color);
}

.box-container .box:first-child .sport-text {
  background-color: var(--sport-color);
}

.border-sport {
  border-top: 0.3rem solid var(--sport-color);
}

.news-text {
  font-size: 1.7rem;
  color: var(--black);
}

/*
----------------------------------------------
    BOX CONTAINER
----------------------------------------------
*/

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.box-container .box:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 39rem !important;
}

.box-container .box:first-child img {
  height: 24rem !important;
}

.box-container .box:first-child p {
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: var(--white);
}

.box-container .box {
  height: 19rem;
  overflow: hidden;
}

.box:hover img {
  transform: scale(0.9);
  opacity: 0.9;
}

.box-container .box img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

/*
----------------------------------------------
    CATEGORY
----------------------------------------------
*/

.category-wrap {
  display: flex;
  gap: 2rem;
}

.category-wrap .category {
  flex: 70%;
}

.category-box {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.category-box .box {
  height: 21rem;
  overflow: hidden;
}

.category-box .box img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.category-wrap .popular-news {
  flex: 30%;
  margin-top: 4rem;
}

/*
----------------------------------------------
    PAGINATION
----------------------------------------------
*/

.about-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.page-info {
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination a {
  font-size: 1rem;
  padding: 0.4rem 1rem;
  color: #fff;
  background-color: #777;
  border-radius: 4px;
}

.pagination a.active {
  background-color: red;
  color: #fff;
}

/*
----------------------------------------------
    NEWS DETAIL
----------------------------------------------
*/

.detail-wrap {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.news-detail {
  flex: 65%;
}
.heading-detail {
  font-size: 2.5rem;
  color: var(--black);
}
.detail-box {
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}
.span-group {
  margin: 1.5rem 0;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem dashed var(--black);
}
.desc-detail p {
  font-size: 1.7rem;
}
.desc-detail > img {
  width: 100%;
}
.desc-detail p > img {
  width: 100% !important;
}
.detail-box .share {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}
.detail-box .share a {
  font-size: 2rem;
}
.detail-box .share a:nth-child(1) {
  color: #4267b2;
}
.detail-box .share a:nth-child(2) {
  color: #fd1d1d;
}
.detail-box .share a:nth-child(3) {
  color: #1da1f2;
}
.detail-box .share a:hover {
  transform: scale(1.2);
}
.detail-wrap .popular-news {
  flex: 35%;
}
.fb-share-button {
  font-size: 1.6rem;
}

/*
----------------------------------------------
    POPULAR NEWS
----------------------------------------------
*/

.popular-news h2 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 2rem;
}
.popular-news h2::after {
  display: flex;
  position: absolute;
  content: "";
  width: 70px;
  height: 5px;
  background-color: var(--black);
}

.popular-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.popular-wrap .item {
  display: flex;
  column-gap: 1rem;
}

.popular-wrap .item img {
  width: 5rem;
  height: 4rem;
  object-fit: cover;
}
.popular-wrap .item p {
  font-size: 1.5rem;
}

/*
----------------------------------------------
    RELATED NEWS
----------------------------------------------
*/

.related-news h2 {
  font-size: 2rem;
  color: var(--black);
  margin: 2rem 0;
}
.related-news h2::after {
  display: flex;
  position: absolute;
  content: "";
  width: 70px;
  height: 5px;
  background-color: var(--black);
}

.related-news-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.related-news-wrap .item {
  height: 21rem;
  overflow: hidden;
}

.related-news-wrap .item img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

/*
----------------------------------------------
    FOOTER SECTION
----------------------------------------------
*/

.footer {
  margin-top: 3rem;
  background-color: var(--black);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
}
.footer-container .box {
  color: var(--white);
}
.footer-container .box img {
  height: 5rem;
  margin-bottom: 1rem;
}
.footer-container .box p {
  font-size: 1.6rem;
}
.footer-container .box h3 {
  font-size: 1.6rem;
}
.footer-container .box h2 {
  font-size: 1.8rem;
}
.footer-container .box .logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.footer-container .box .logo-container a > img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.footer-container .box .icon-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.footer-container .box .icon-container a > i {
  font-size: 2rem;
  color: var(--white);
}

/*
----------------------------------------------
    MEDIA QUERIES
----------------------------------------------
*/

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .logo img {
    width: 81px;
    height: 81px;
  }
  /* .adx-top img {
    width: 655.2px;
    height: 81px;
  } */
  .hero .adz-bottom {
    display: none;
  }
  .slide .news-slide .box {
    height: 35rem;
  }
  .latest-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  .latest-container .box {
    height: 23rem;
  }
  .latest-container .box:nth-child(1) {
    grid-column: auto;
  }
  .latest-container .box:nth-child(2) {
    grid-column: auto;
  }
  .latest-container .box:nth-child(3) {
    grid-column: auto;
  }
  .latest-container .box:nth-child(1),
  .latest-container .box:nth-child(2),
  .latest-container .box:nth-child(3) {
    height: 23rem !important;
  }
  .latest-container .box:nth-child(1) img,
  .latest-container .box:nth-child(2) img,
  .latest-container .box:nth-child(3) img {
    height: 15rem !important;
  }
  .latest-container .box:nth-child(1) p,
  .latest-container .box:nth-child(2) p,
  .latest-container .box:nth-child(3) p {
    font-weight: normal;
    font-size: 1.9rem;
  }
  .latest-container .box img {
    height: 15rem;
  }
  /* box */
  .box-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  .box-container .box:first-child {
    height: 47rem !important;
  }
  .box-container .box:first-child img {
    height: 30rem !important;
  }
  .box-container .box {
    height: 23rem;
  }
  .box-container .box img {
    height: 15rem;
  }
  .news-text {
    font-size: 1.9rem;
    /* color: var(--black); */
  }
  .by-category .latest-news {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    background-color: transparent;
    padding: 0.5rem 0;
  }
  .header-wrap {
    justify-content: center;
  }
  .logo {
    display: none;
  }
  .adz-top {
    width: 100%;
    height: auto;
  }
  #menu_btn {
    display: inline-block;
    font-size: 2rem;
  }
  #menu_btn.fa-times {
    transform: rotate(180deg);
  }
  .navbar {
    background-color: var(--black);
  }
  .navbar-wrap .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--black);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .logo-sm {
    display: inline-block;
  }
  .navbar-wrap .nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .navbar-wrap .nav a {
    display: block;
    font-size: 1.6rem;
  }
  .deals {
    display: inline-block;
  }
  .heading {
    margin-top: 1rem;
  }
  .hero .hero-slide .slide {
    height: 35rem;
  }
  .latest-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 1rem;
  }
  .box-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 1rem;
  }
  .box-container .box:first-child {
    grid-column: auto;
    grid-row: auto;
    height: 23rem !important;
  }
  .box-container .box:first-child img {
    height: 15rem !important;
  }
  .box-container .box:first-child p {
    padding: 0;
    color: var(--black);
    background-color: var(--white);
  }

  .latest-container .box:nth-child(7),
  .latest-container .box:nth-child(8),
  .latest-container .box:nth-child(9) {
    display: none;
  }
  .box-container .box:nth-child(7),
  .box-container .box:nth-child(8),
  .box-container .box:nth-child(9) {
    display: none;
  }
  /* CATEGORY & NEWS DETAIL */
  .news-detail,
  .category-wrap .category {
    flex: 100%;
  }
  .detail-wrap .popular-news,
  .category-wrap .popular-news {
    display: none;
  }
  .detail-box {
    padding: 1rem;
    box-shadow: none;
  }
  /* END CATEGORY & NEWS DETAIL */
  .box-container .box:first-child .ent-text,
  .box-container .box:first-child .tech-text,
  .box-container .box:first-child .life-text,
  .box-container .box:first-child .sport-text {
    background-color: var(--white);
  }
  /* FOOTER SECTION */
  .footer-container .box .logo-container a > img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 51%;
  }
  header {
    padding: 0;
  }
  section {
    padding: 0;
  }
  .header {
    padding: 0;
  }
  .adz-top {
    width: 100%;
    height: auto;
  }
  .navbar-wrap {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #menu_btn {
    font-size: 2rem;
  }

  .navbar a {
    font-size: 1.5rem;
  }
  .hero .hero-slide .slide {
    height: 30rem;
  }
  .latest-container {
    padding: 1rem;
  }
  .box-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .box-container {
    padding: 1rem;
  }
  .news-detail {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
  }
  .about-page {
    margin: 1rem;
  }
}
